h1 {
    padding: 2em;
}

#add-album-btn {
    position: fixed;
    right: 5%;
    bottom: 10%;

    font-size: 3em;
    line-height: 1;
    height: 3em;
    width: 3em;
    /* text-align: center; */
    /* vertical-align: middle; */
    padding: 1em;
    border-radius: 50%;

    z-index: 10;
}

.invalid-feedback {
    display: inline-block;
}

.card {
    margin-bottom: 3em;
}


a>h1 {
    color: #000;
}